* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
}

#home {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url("/images/banner.jpg");
  align-items: center;
  background-size: cover;
}
#home .hero {
  max-width: 100%;
  width: 900px;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 55px;
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: 800;
  margin-bottom: 65px;
}
h1 span {
  animation: fadeIn 1s ease-in 0.9s both;
}

h1::before,
h1::after {
  position: absolute;
  width: 100%;
  height: 2.4px;
  background-color: white;
  left: 0;
  content: "";
}
h1::before {
  top: -25px;
  animation: fadeInRight 1.1s ease-in-out both;
}
h1::after {
  bottom: -25px;
  animation: fadeInLeft 1.1s ease-in-out both;
}
#home .hero a {
  animation: fadeIn 1.3s ease-in-out both;
}

nav {
  height: 10vh;
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #196086;
}
nav .logo {
  align-items: center;
  display: flex;
}

nav .logo-image {
  margin-right: 10px;
}

nav .logo-text span {
  color: #ce1f1f;
  font-size: 2rem;
}
nav .logo-text {
  font-size: 2rem;
}
.nav-links {
  justify-content: space-between;
  list-style: none;
  width: 65%;
  min-width: 700px;
  display: flex;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-family: 500;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.nav-link a.active {
  color: #0000;
}
.nav-link a:hover {
  color: #000;
}

#vgh {
  background-color: #d0caca;
}
#vgh .grid {
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  grid-row-gap: 45px;
  grid-column-gap: 25px;
}
#about-me {
  background-color: #b0a9a9bb;
  display: flex;
  align-items: center;
  padding: 0 0;
  min-height: 95vh;
}
#about-me .img {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}
@media all and (max-width: 1000px) {
  #about-me {
    padding: 45px 0;
  }
  #about-me .img {
    display: none;
  }
}
#about-me .grid {
  display: grid;
  margin-top: 45px;
  grid-template-columns: repeat(auto-fit, mini-max(250px, 0.5fr));
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  justify-content: space-around;
}
#about-me .grid-item {
  display: flex;
  margin: 1rem;
}
#about-me .grid-item span {
  font-size: 15px;
  color: #585d5e;
  font-weight: 400;
  line-height: 140%;
}
#skills {
  background-color: #ffff;
}
#skills .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 35px;
}
#skills p {
  margin-bottom: 20px;
}

#skills .skill {
  margin-bottom: 30px;
}
#skills .bar {
  height: 35px;
  width: 98%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
}
#skills .progress {
  background-color: #c1432a;
  height: 100%;
  position: relative;
}
#skills .value {
  right: 850px;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  font-size: 17px;
  font-weight: 600;
}

#resume {
  text-align: center;
  margin-top: 30px;
}
#resume p {
  margin-bottom: 20px;
}
#life {
  clip-path: polygon(
    0 0,
    calc(50% - 20px) 0,
    50% 20px,
    calc(50% + 20px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  background-color: #d4cfcfcd;
}
#life .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  display: grid;
}
#life .right p {
  margin-bottom: 8px;
  margin: 20px;
}

#life .right span {
  background-color: #c1432a;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
}
#life .item {
  margin-bottom: 65px;
}
#testimonials {
  text-align: center;
}
#testimonials p {
  margin-bottom: 30px;
}
#testimonials h3 {
  margin-bottom: 25px;
}
#testimonials .carousel-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
#testimonials .carousel {
  transform-style: preserve-3d;
}

#testimonials .carousel-buttons {
  display: flex;
  width: 60px;
  margin: 0 auto;
  justify-content: space-between;
}
#testimonials [class^="carousel-button-"] {
  height: 15px;
  width: 15px;
  border: 2px solid #c1432a;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.15s;
}

#testimonials [class^="carousel-button-"].active,
#testimonials [class^="carousel-button-"]:hover {
  background-color: #c1432a;
}
#testimonials .carousel-item {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

#testimonials .carousel-item.active {
  position: relative;
  z-index: 900;
  opacity: 1;
}
#portfolio {
  align-items: center;
  background-color: #fff;
  text-align: center;
  margin-top: 100px;
}

#portfolio .grid {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  display: grid;
  grid-row-gap: 20px;
  margin-top: 40px;
}

#portfolio .filter {
  color: white;
  background-color: #191f21;
  padding-top: 35px;
  padding-left: 30px;
  text-align: left;
  border-radius: 5%;
}

#portfolio .filter h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}
#portfolio .filter ul {
  list-style: none;
}
#portfolio .filter li {
  transition: 0.15s;
  margin-bottom: 10px;
  color: #919191;
}

#portfolio .filter li span {
  cursor: pointer;
}
#portfolio .filter li span:hover {
  color: #ffff;
}
#portfolio .grid-item {
  position: relative;
  cursor: pointer;
}

#portfolio .grid-item img {
  width: 100%;
  border-radius: 5%;
}
#portfolio .grid-item .hover {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #b6b629cb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  font-size: 33px;
  transition: 0.26s;
}
#portfolio .grid-item:hover .hover {
  opacity: 1;
  border-radius: 5%;
}
#contact-me {
  background-color: #261d1d;
}

#contact-me h2 {
  color: #fff;
}

#contact-me .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 30px;
}

#contact-me .field {
  margin-bottom: 20px;
}

#contact-me .field label {
  margin-bottom: 10px;
  color: #fff;
  display: inline-block;
}

#contact-me .field input,
#contact-me .field textarea {
  border: none;
  display: block;
  border-radius: 4px;
  background-color: #37452d;
  width: 100%;
  color: #ce1f1f;
  padding: 15px 10px;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#contact-me .field input:hover,
#contact-me .field textarea:hover {
  background-color: #969393;
}

#contact-me .field input:focus,
#contact-me .field textarea:focus {
  box-shadow: 0 2px 30px 3px #c1432a77;
}
#contact-me .field input {
  height: 50px;
}

#contact-me .feild textarea {
  height: 200px;
}
#contact-me .info {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
#contact-me p {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}
#contact-me .info .label {
  color: white;
  font-size: 20px;
}

#contact-me .info-data {
  color: #919191;
  font-size: 20px;
  margin-left: 15px;
}
footer {
  text-align: center;
  padding: 70px 0;
  background-color: #252e30;
}

footer .icons {
  margin-top: 35px;
}
footer .icons i {
  background-color: #fff;
  color: #191919;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  width: 36px;
}

footer .icons i:hover {
  background-color: #c1432a;
  color: white;
  border: 1px solid white;
}

.btn {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn:hover {
  color: #c1432a;
  background-color: black;
}

.btn-primary {
  border-color: #c1432a;
  color: #c1432a;
}
.btn-primary:hover {
  background-color: #ce1f1f;
  color: white;
}

.btn-text {
  color: #c1432a;
  border-color: transparent;
  letter-spacing: none;
}

.btn:hover {
  background-color: rgba(42, 204, 113, 0.1);
}
.btn-dark {
  background-color: #191919;
  color: white;
  border-color: transparent;
}

.btn-dark:hover {
  background-color: #191919;
  color: #c1432a;
}

.container {
  padding: 0 45px;
}

i {
  transform: translateY(4px);
}

h2 {
  color: #566366;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

section {
  padding: 70px 0;
}

p {
  color: #c1432a;
  font-size: 17px;
  line-height: 150%;
}

h3 {
  font-size: 20px;
  color: #566366;
  font: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: none;
}

.main-separator {
  margin: 80px 0;
}
.secondary-separator {
  margin: 30px 0;
}

.fa-bars {
  color: white;
  font-size: 22px;
  display: none;
  cursor: pointer;
  transform: none;
}

.fa-close {
  position: fixed;
  z-index: 2001;
  right: 50px;
  transform: none;
  top: 50px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 1000px) {
  .nav-links {
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(9px);
    background-color: #4a535560;
    flex-direction: column;
    padding: 150px 0;
    z-index: 2000;
    opacity: 0;
    display: none;
    min-width: 0;
    justify-content: space-around;
  }
  .nav-links .nav-link {
    text-align: center;
  }
  .nav-links .nav-link a {
    font-size: 23px;
  }
  .fa-bars,
  .fa-close {
    display: inline-block;
  }
  .nav-links.active {
    display: flex;
    opacity: 1;
    animation: fadeIn 0.6s ease-in-out both;
  }
  .nav-links.active .nav-link {
    animation: 0.3s fadeInDown ease-out both;
  }
  .nav-links.active .nav-link:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nav-links.active .nav-link:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav-links.active .nav-link:nth-child(3) {
    animation-delay: 0.3s;
  }
  .nav-links.active .nav-link:nth-child(4) {
    animation-delay: 0.4s;
  }
  .nav-links.active .nav-link:nth-child(5) {
    animation-delay: 0.5s;
  }
  .nav-links.active .nav-link:nth-child(6) {
    animation-delay: 0.6s;
  }
  .nav-links.active .nav-link:nth-child(7) {
    animation-delay: 0.7s;
  }
  .nav-links.exit {
    display: flex;
    opacity: 1;
    animation: fadeOut 0.36s ease-in-out both;
  }
  #home {
    background-image: url(/images/logo.jpg);
  }
}

@media all and (max-width: 660px) {
  .container {
    padding: 0 25px;
  }
  h1 {
    font-size: 45px;
  }
}

@media all and (max-width: 460px) {
  h1 {
    font-size: 36px;
  }
}
